### NOTE - JSONError while loading the weather data can be ignored as it is not impacting the process/project

### Importing Libraries

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
airport_list = ['ATL', 'CLT', 'DEN', 'DFW', 'EWR', 'IAH', 'JFK', 'LAS', 
                'LAX', 'MCO', 'MIA', 'ORD', 'PHX', 'SEA', 'SFO']

### 1. Loading the datset and looking into it

In [3]:
df_2016 = pd.read_csv('Flight/2016/On_Time_On_Time_Performance_2016_1.csv')
df_2016.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2016,1,1,6,3,2016-01-06,AA,19805,AA,N4YBAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,1,1,7,4,2016-01-07,AA,19805,AA,N434AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,1,1,8,5,2016-01-08,AA,19805,AA,N541AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,1,1,9,6,2016-01-09,AA,19805,AA,N489AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,1,1,10,7,2016-01-10,AA,19805,AA,N439AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445827 entries, 0 to 445826
Columns: 110 entries, Year to Unnamed: 109
dtypes: float64(71), int64(21), object(18)
memory usage: 374.2+ MB

In [5]:
df_main1 = pd.DataFrame()
for i in range(1, 13):
    path = r"Flight/2016/On_Time_On_Time_Performance_2016_" +str(i)+'.csv'
    df = pd.read_csv(path)

    df1 = df[df['Origin'].isin(airport_list)]
    df2 = df1[df1['Dest'].isin(airport_list)]

    if i == 1:
        temp_df = pd.DataFrame()
        df_main1 = temp_df.append(df2,ignore_index = True)
    else:
        df_main1 = df_main1.append(df2,ignore_index = True)

In [6]:
df_main1.shape

(948819, 110)

In [7]:
df_2017 = pd.read_csv('Flight/2017/On_Time_On_Time_Performance_2017_1.csv')

In [8]:
df_main2 = pd.DataFrame()
for i in range(1, 13):
    path = r"Flight/2017/On_Time_On_Time_Performance_2017_" +str(i)+'.csv'
    df = pd.read_csv(path)
    df1 = df[df['Origin'].isin(airport_list)]
    df2 = df1[df1['Dest'].isin(airport_list)]
    if i == 1:
        temp_df = pd.DataFrame()
        df_main2 = temp_df.append(df2,ignore_index = True)
    else:
        df_main2 = df_main2.append(df2,ignore_index = True)

### 4. Loading and data preprocessing of flight dataset

In [9]:
final_df = df_main1.append(df_main2,ignore_index = True)

In [10]:
cols = ['ArrDel15', 'ArrDelayMinutes', 'ArrTime', 'CRSArrTime', 'CRSDepTime', 'DayofMonth', 'DepDel15', 'DepDelayMinutes', 
        'DepTime', 'Dest', 'DestAirportID', 'FlightDate', 'Month', 'Origin', 'OriginAirportID', 'Quarter', 'Year']

final_df = final_df[[col for col in cols]]

final_df = final_df.dropna(how = 'any')

In [11]:
final_df.head()

,ArrDel15,ArrDelayMinutes,ArrTime,CRSArrTime,CRSDepTime,DayofMonth,DepDel15,DepDelayMinutes,DepTime,Dest,DestAirportID,FlightDate,Month,Origin,OriginAirportID,Quarter,Year
0,0.0,8.0,1610.0,1602,745,1,0.0,0.0,741.0,JFK,12478,2016-01-01,1,SEA,14747,1,2016
1,0.0,11.0,1613.0,1602,745,2,0.0,0.0,737.0,JFK,12478,2016-01-02,1,SEA,14747,1,2016
2,0.0,0.0,1547.0,1602,745,3,0.0,0.0,743.0,JFK,12478,2016-01-03,1,SEA,14747,1,2016
3,0.0,0.0,1551.0,1602,745,4,0.0,0.0,737.0,JFK,12478,2016-01-04,1,SEA,14747,1,2016
4,0.0,0.0,1524.0,1527,710,5,0.0,0.0,708.0,JFK,12478,2016-01-05,1,SEA,14747,1,2016

In [12]:
final_df.to_csv(r'/Users/n.dammannagari/Downloads/FDP/Flight_Data.csv',index = False)

In [13]:
import pandas as pd
dataframe = pd.read_csv("Flight_Data.csv")
dataframe.head()

,ArrDel15,ArrDelayMinutes,ArrTime,CRSArrTime,CRSDepTime,DayofMonth,DepDel15,DepDelayMinutes,DepTime,Dest,DestAirportID,FlightDate,Month,Origin,OriginAirportID,Quarter,Year
0,0.0,8.0,1610.0,1602,745,1,0.0,0.0,741.0,JFK,12478,2016-01-01,1,SEA,14747,1,2016
1,0.0,11.0,1613.0,1602,745,2,0.0,0.0,737.0,JFK,12478,2016-01-02,1,SEA,14747,1,2016
2,0.0,0.0,1547.0,1602,745,3,0.0,0.0,743.0,JFK,12478,2016-01-03,1,SEA,14747,1,2016
3,0.0,0.0,1551.0,1602,745,4,0.0,0.0,737.0,JFK,12478,2016-01-04,1,SEA,14747,1,2016
4,0.0,0.0,1524.0,1527,710,5,0.0,0.0,708.0,JFK,12478,2016-01-05,1,SEA,14747,1,2016

### 4. Loading and data preprocessing of weather dataset

In [14]:
import glob
import pandas as pd
import json

In [15]:
airport_list = ['ATL', 'CLT', 'DEN', 'DFW', 'EWR', 'IAH', 'JFK', 'LAS', 
                'LAX', 'MCO', 'MIA', 'ORD', 'PHX', 'SEA', 'SFO']

# Weather list
weather_columns = ['windspeedKmph', 'winddirDegree',  'weatherCode', 'precipMM', 'visibility', 'pressure', 
                   'cloudcover', 'DewPointF', 'WindGustKmph', 'tempF',  'WindChillF', 'humidity', 'time']

In [16]:
import warnings
warnings.filterwarnings('ignore')

In [17]:
weather_files_2016 = glob.glob('Weather//***//2016-***.json')

weather_2016 = []

for file in weather_files_2016:
    with open(file) as f:

        temp_data = json.load(f)
        
        for temp_series in temp_data['data']['weather']:
            
            data1 = pd.DataFrame(temp_series['hourly'],columns=weather_columns)
            
            data1['date'] = temp_series['date']
            for name in airport_list:
                if name in file.split('//'):
                    data1['airport'] = name
            
            weather_2016 = pd.DataFrame(weather_2016.append(data1))

JSONDecodeError: Expecting property name enclosed in double quotes: line 4 column 3 (char 170745)

In [18]:
weather_2016.head()

,windspeedKmph,winddirDegree,weatherCode,precipMM,visibility,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,time,date
0,19,162,266,0.3,2,1006,100,62,31,63,63,95,0,2016-02-02
1,17,169,266,0.3,2,1006,100,61,29,63,63,95,100,2016-02-02
2,16,176,266,0.4,2,1005,100,61,27,63,63,95,200,2016-02-02
3,14,183,266,0.4,2,1005,100,61,26,62,62,95,300,2016-02-02
4,12,194,266,0.5,4,1005,100,61,21,63,62,96,400,2016-02-02

In [19]:
weather_2016.shape

(60720, 14)

In [ ]:
weather_files_2017 = glob.glob('Weather//***//2017-***.json')

weather_2017 = []

for file in weather_files_2017:
    with open(file) as f:

        temp_data = json.load(f)
        
        for temp_series in temp_data['data']['weather']:
            
            data1 = pd.DataFrame(temp_series['hourly'],columns=weather_columns)
            
            data1['date'] = temp_series['date']
            for name in airport_list:
                if name in file.split('//'):
                    data1['airport'] = name
            
            weather_2017 = pd.DataFrame(weather_2017.append(data1))

In [ ]:
weather_2017.shape

### MERGING

In [ ]:

final_weather_dataset = pd.concat([weather_2016,weather_2017])

final_weather_dataset.shape

In [ ]:
final_weather_dataset.isna().sum()

In [ ]:
final_weather_dataset.to_csv('/Users/n.dammannagari/Downloads/FDP/Flight_Weather_Data.csv')

### Data Preprocessing of final merged (Flight and weather) csv file

In [ ]:
import pandas as pd
flight_data = pd.read_csv("Flight_Data.csv")
flight_data.head()

In [ ]:
flight_data.shape

In [ ]:
weather_data = pd.read_csv('Flight_Weather_data.csv', index_col = 0)
weather_data.head()

In [ ]:
weather_data.shape

In [ ]:
flight_data.reset_index(inplace = True)
weather_data.reset_index(inplace = True)

In [ ]:
time_list = []
for i in flight_data["CRSDepTime"]:
    i = int(i)
    x = i%100
    if(x<30) :
        i = i - x
    elif(x>=30) :
        i = i+(100 - x)
    if(i == 2400):
        i = 0
    time_list.append(i)
flight_data['DeptTime'] = time_list

In [ ]:
df = pd.merge(flight_data,weather_data,
              how = 'inner',
              left_on = ['DeptTime', 'FlightDate'],
              right_on = ['time', 'date'])

In [ ]:
df.shape

In [ ]:
df.drop('Origin', axis=1)

In [ ]:
df.columns

In [ ]:
df.drop_duplicates(inplace = True)
df.shape

In [ ]:
df.to_csv('/Users/n.dammannagari/Downloads/FDP/Merged_Flight_Weather.csv')

In [ ]:
import pandas as pd
df_new = pd.read_csv('Merged_Flight_Weather.csv', index_col = 0)

In [ ]:
df_new.shape

### 2. Interesting relations

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.figure(figsize=(25,25))
cor = df.corr()
sns.heatmap(cor, annot=True, cmap='Blues')

In [ ]:
plt.show()

### 3. Target to be predicted is if a flight is delayed or not based on the weather. Features from weather and flight data are considered for prediction

### 4. Preprocessing for merged dataset(Flight and weather)

In [ ]:
frame = frame.drop(columns=[ 'time', 'date', 'FlightDate', 'DepTime','ArrDelayMinutes', 
                      'ArrTime'])

frame.drop_duplicates(inplace=True)

frame["Origin"] = frame["Origin"].astype('category')
frame["Dest"] = frame["Dest"].astype('category')

frame["Origin"] = frame["Origin"].cat.codes

frame["Dest"] = frame["Dest"].cat.codes

In [ ]:
frame.drop(frame.columns[0], axis=1, inplace=True)
frame.shape

In [ ]:
frame.dropna(axis=0)

frame['weatherCode'] = frame['weatherCode'].astype(int)

frame['visibility'] = frame['visibility'].astype(int)
frame['pressure'] = frame['pressure'].astype(int)
frame['cloudcover'] = frame['cloudcover'].astype(int)
frame['DewPointF'] = frame['DewPointF'].astype(int)
frame['WindGustKmph'] = frame['WindGustKmph'].astype(int)
frame['tempF'] = frame['tempF'].astype(int)
frame['WindChillF'] = frame['WindChillF'].astype(int)
frame['tempF'] = frame['tempF'].astype(int)

frame['CRSArrTime'] = frame['CRSArrTime'].astype(int)
frame['CRSDepTime'] = frame['CRSDepTime'].astype(int)
frame['DayofMonth'] = frame['DayofMonth'].astype(int)

frame['DestAirportID'] = frame['DestAirportID'].astype(int)
frame['Month'] = frame['Month'].astype(int)
frame['Quarter'] = frame['Quarter'].astype(int)
frame['Year'] = frame['Year'].astype(int)
frame['OriginAirportID'] = frame['OriginAirportID'].astype(int)

frame.dtypes

In [ ]:
frame["Origin"] = frame["Origin"].astype('category')
frame["Dest"] = frame["Dest"].astype('category')

### 5. Splitting the data into training and testing sets

In [ ]:
y = frame['ArrDel15']
X = frame.drop(columns = ['ArrDel15'])

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7)